Repository getsentry/sentry-python, pull requests merged in 2023-06, with the labels that each got.

#1773 fix(integrations): support complex regex coming from DjangoCMS
  sentry_sdk/integrations/django/transactions.py
  tests/integrations/django/test_transactions.py
Labels: Status: Backlog, Integration: Django

#1050 support SOCKS proxies in sentry_sdk
  sentry_sdk/transport.py
  test-requirements.txt
  tests/test_client.py
Labels: Status: Backlog

#2187 fix: fix propagation of OTEL NonRecordingSpan
  sentry_sdk/integrations/opentelemetry/propagator.py
  sentry_sdk/integrations/opentelemetry/span_processor.py
  tests/integrations/opentelemetry/test_propagator.py
  tests/integrations/opentelemetry/test_span_processor.py
Labels: Type: Bug, Status: Backlog, Integration: OpenTelementry (OTel)

#1761 feat(aiohttp): add instrumentation of client requests
  sentry_sdk/integrations/aiohttp.py
  tests/integrations/aiohttp/test_aiohttp.py
Labels: enhancement, Status: Backlog, Waiting for: Community

#2207 feat(profiling): Add client reports for profiles
  sentry_sdk/profiler.py
  tests/test_profiler.py
Labels: Feature: Profiling

#2115 Set the transaction/span status from an otel span
  sentry_sdk/integrations/opentelemetry/span_processor.py
  tests/integrations/opentelemetry/test_span_processor.py
Labels: Status: Backlog, Integration: OpenTelementry (OTel)

#2208 feat(loguru): add message format configuration arguments
  sentry_sdk/integrations/loguru.py
  tests/integrations/loguru/test_loguru.py
Labels: Waiting for: Community, Integration: Loguru
