Repository getsentry/sentry-python, pull requests merged in 2023-07, with the labels that each got.

#2088 Add support for cron jobs in ARQ integration
  sentry_sdk/integrations/arq.py
  tests/integrations/arq/test_arq.py
Labels: Status: Backlog

#1794 feat(django): update django app to be compatible for Django 4.x
  tests/integrations/django/myapp/settings.py
Labels: Status: Backlog, Integration: Django

#1277 fix(django): Fix 404 Handler handler being labeled as "generic ASGI request"
  sentry_sdk/integrations/django/__init__.py
Labels: Status: Backlog, Integration: Django

#1933 feat(redis): Add support for redis.asyncio
  .github/workflows/test-integration-redis.yml
  sentry_sdk/integrations/redis/__init__.py
  sentry_sdk/integrations/redis/asyncio.py
  tests/integrations/redis/asyncio/__init__.py
  tests/integrations/redis/asyncio/test_redis_asyncio.py
  tests/integrations/redis/test_redis.py
  tests/integrations/rediscluster/test_rediscluster.py
  tox.ini
Labels: Status: Backlog, Integration: Redis

#2231 Skip distributions with incomplete metadata
  sentry_sdk/integrations/modules.py
  tests/integrations/modules/test_modules.py
Labels: Type: Bug, Status: Backlog

#2171 Read MAX_VALUE_LENGTH from client options (#2121)
  sentry_sdk/client.py
  sentry_sdk/consts.py
  sentry_sdk/integrations/logging.py
  sentry_sdk/serializer.py
  sentry_sdk/utils.py
  tests/integrations/sqlalchemy/test_sqlalchemy.py
  tests/test_client.py
  tests/test_exceptiongroup.py
  tests/test_serializer.py
Labels: Status: Backlog, Waiting for: Product Owner
