Repository getsentry/sentry-python, pull requests merged in 2023-12, with the labels that each got.

#2546 fix(integrations): Fix Lambda integration with EventBridge source
  sentry_sdk/integrations/aws_lambda.py
  tests/integrations/aws_lambda/test_aws.py
Labels: Trigger: tests using secrets

#2394 feat(integrations): add support for cluster clients from redis sdk
  sentry_sdk/integrations/redis/__init__.py
  sentry_sdk/integrations/redis/asyncio.py
  tests/integrations/redis/cluster/__init__.py
  tests/integrations/redis/cluster/test_redis_cluster.py
  tests/integrations/redis/cluster_asyncio/__init__.py
  tests/integrations/redis/cluster_asyncio/test_redis_cluster_asyncio.py
Labels: Trigger: tests using secrets

#2595 [2.0] Add a migration guide
  MIGRATION_GUIDE.md
Labels: SDK 2.0

#2600 Arq integration ctx
  sentry_sdk/integrations/arq.py
  tests/integrations/arq/test_arq.py
Labels: Trigger: tests using secrets

#2570 (5) Add `reset()` to thread local ContextVar and no-op `copy_context()`
  sentry_sdk/utils.py
  tests/utils/test_contextvars.py
Labels: scope refactor

#2564 (4) Move transaction/span related functions from Hub to Scope
  sentry_sdk/hub.py
  sentry_sdk/scope.py
Labels: scope refactor

#2604 [Experiment] New scope step2
  docs/api.rst
  docs/apidocs.rst
  sentry_sdk/api.py
  sentry_sdk/client.py
  sentry_sdk/scope.py
Labels: scope refactor

#2555 (2) Move `capture_*` from Hub to Client
  docs/apidocs.rst
  sentry_sdk/api.py
  sentry_sdk/client.py
  sentry_sdk/hub.py
  sentry_sdk/scope.py
  tests/test_client.py
Labels: scope refactor

#2558 (3) Move tracing related functions from Hub to Scope
  sentry_sdk/hub.py
  sentry_sdk/scope.py
Labels: scope refactor
