Repository getsentry/sentry-python, pull requests merged in 2024-06, with the labels that each got.

#2830 feat(profiling): Introduce continuous profiling mode
  docs/apidocs.rst
  sentry_sdk/_types.py
  sentry_sdk/client.py
  sentry_sdk/consts.py
  sentry_sdk/envelope.py
  sentry_sdk/profiler/__init__.py
  sentry_sdk/profiler/continuous_profiler.py
  sentry_sdk/profiler/transaction_profiler.py
  sentry_sdk/profiler/utils.py
  sentry_sdk/scope.py
  sentry_sdk/tracing.py
  tests/conftest.py
  tests/integrations/django/asgi/test_asgi.py
  tests/integrations/fastapi/test_fastapi.py
  tests/integrations/starlette/test_starlette.py
  tests/integrations/wsgi/test_wsgi.py
  tests/profiler/__init__.py
  tests/profiler/test_continuous_profiler.py
  tests/profiler/test_transaction_profiler.py
Labels: Feature: Profiling

#3072 Explicitly export cron symbols for typecheckers
  sentry_sdk/crons/__init__.py
Labels: Component: SDK Core, Component: Tests, Trigger: tests using secrets, Component: DX

#3176 New branch with changes, because the refactoring made using the old b…
  .github/workflows/test-integrations-data-processing.yml
  scripts/split-tox-gh-actions/split-tox-gh-actions.py
  scripts/split-tox-gh-actions/templates/test_group.jinja
  sentry_sdk/integrations/celery/__init__.py
  sentry_sdk/integrations/celery/beat.py
  tests/integrations/celery/integration_tests/__init__.py
  tests/integrations/celery/integration_tests/test_celery_beat_cron_monitoring.py
  tests/integrations/celery/test_celery.py
Labels: Component: SDK Core

#3175 Reapply "Refactor the Celery Beat integration (#3105)" (#3144)
  .github/workflows/test-integrations-data-processing.yml
  scripts/split-tox-gh-actions/split-tox-gh-actions.py
  scripts/split-tox-gh-actions/templates/test_group.jinja
  sentry_sdk/integrations/celery/__init__.py
  sentry_sdk/integrations/celery/beat.py
  sentry_sdk/scope.py
  tests/integrations/celery/integration_tests/__init__.py
  tests/integrations/celery/integration_tests/test_celery_beat_cron_monitoring.py
  tests/integrations/celery/test_celery.py
  tests/integrations/celery/test_update_celery_task_headers.py
Labels: Component: SDK Core

#3163 Add `origin` to transactions/spans created by integrations 2
  sentry_sdk/integrations/asyncpg.py
  sentry_sdk/integrations/celery/__init__.py
  sentry_sdk/integrations/grpc/aio/client.py
  sentry_sdk/integrations/grpc/aio/server.py
  sentry_sdk/integrations/grpc/client.py
  sentry_sdk/integrations/grpc/consts.py
  sentry_sdk/integrations/grpc/server.py
  sentry_sdk/integrations/opentelemetry/span_processor.py
  sentry_sdk/integrations/redis/_async_common.py
  sentry_sdk/integrations/redis/_sync_common.py
  sentry_sdk/integrations/redis/consts.py
  sentry_sdk/integrations/socket.py
  sentry_sdk/integrations/sqlalchemy.py
  sentry_sdk/integrations/stdlib.py
  tests/integrations/asyncpg/test_asyncpg.py
  tests/integrations/celery/test_celery.py
  tests/integrations/grpc/test_grpc.py
  tests/integrations/grpc/test_grpc_aio.py
  tests/integrations/opentelemetry/test_span_processor.py
  tests/integrations/redis/asyncio/test_redis_asyncio.py
  tests/integrations/redis/cluster/test_redis_cluster.py
  tests/integrations/redis/cluster_asyncio/test_redis_cluster_asyncio.py
  tests/integrations/redis/test_redis.py
  tests/integrations/socket/test_socket.py
  tests/integrations/sqlalchemy/test_sqlalchemy.py
  tests/integrations/stdlib/test_httplib.py
  tests/integrations/stdlib/test_subprocess.py
Labels: Component: SDK Core

#3191 Propper naming of requirements files
  CONTRIBUTING.md
  Makefile
  requirements-aws-lambda-layer.txt
  requirements-devenv.txt
  requirements-docs.txt
  requirements-linting.txt
  requirements-testing.txt
  scripts/build_aws_lambda_layer.py
  tests/integrations/aws_lambda/client.py
  tox.ini
Labels: Component: DX

#3162 Fix spark driver integration
  sentry_sdk/integrations/spark/spark_driver.py
  tests/integrations/spark/test_spark.py
Labels: Trigger: tests using secrets

#3122 ref(typing): Add additional stub packages for type checking
  requirements-docs.txt
  requirements-linting.txt
  sentry_sdk/integrations/_wsgi_common.py
  sentry_sdk/integrations/pyramid.py
  sentry_sdk/profiler/continuous_profiler.py
  sentry_sdk/profiler/transaction_profiler.py
  sentry_sdk/utils.py
Labels: Trigger: tests using secrets, Component: DX, Component: Typing

#3199 fix(tests): Add Spark testsuite to tox.ini and to CI
  .github/workflows/test-integrations-data-processing.yml
  scripts/split-tox-gh-actions/split-tox-gh-actions.py
  tox.ini
Labels: Component: Tests, Component: CI

#3190 Update our Codecov setup
  .github/workflows/test-integrations-ai.yml
  .github/workflows/test-integrations-aws-lambda.yml
  .github/workflows/test-integrations-cloud-computing.yml
  .github/workflows/test-integrations-common.yml
  .github/workflows/test-integrations-data-processing.yml
  .github/workflows/test-integrations-databases.yml
  .github/workflows/test-integrations-graphql.yml
  .github/workflows/test-integrations-miscellaneous.yml
  .github/workflows/test-integrations-networking.yml
  .github/workflows/test-integrations-web-frameworks-1.yml
  .github/workflows/test-integrations-web-frameworks-2.yml
  .gitignore
  codecov.yml
  pytest.ini
  scripts/split-tox-gh-actions/templates/test_group.jinja
  tox.ini
Labels: Component: DX

#3206 build: Update tornado version in setup.py to match code check.
  setup.py
Labels: Trigger: tests using secrets

#3052 Added option to disable middleware spans in Starlette
  sentry_sdk/integrations/starlette.py
  tests/integrations/starlette/test_starlette.py
Labels: Integration: Starlette/FastAPI
