Repository getsentry/sentry-python, pull requests merged in 2024-08, with the labels that each got.

#3358 feat(integrations): Support Litestar (#2413)
  .github/workflows/test-integrations-web-frameworks-2.yml
  scripts/split-tox-gh-actions/split-tox-gh-actions.py
  sentry_sdk/consts.py
  sentry_sdk/integrations/litestar.py
  setup.py
  tests/integrations/litestar/__init__.py
  tests/integrations/litestar/test_litestar.py
  tox.ini
Labels: New Integration, Trigger: tests using secrets

#3385 feat(integrations): Add litestar and starlite to get_sdk_name
  sentry_sdk/utils.py
  tests/test_basics.py
Labels: Trigger: tests using secrets

#3384 feat(integrations): Update StarliteIntegration to be more in line with new LitestarIntegration
  sentry_sdk/integrations/starlite.py
  tests/integrations/starlite/test_starlite.py
Labels: Trigger: tests using secrets

#3406 feat(api): Remove `sentry_sdk.configure_scope`
  docs/api.rst
  sentry_sdk/__init__.py
  sentry_sdk/api.py
  sentry_sdk/integrations/strawberry.py
  tests/integrations/strawberry/test_strawberry.py
  tests/new_scopes_compat/test_new_scopes_compat.py
  tests/new_scopes_compat/test_new_scopes_compat_event.py
  tests/test_api.py
  tests/test_client.py
Labels: Breaking change

#3397 Dramatiq integration from @jacobsvante
  .github/workflows/test-integrations-data-processing.yml
  scripts/split-tox-gh-actions/split-tox-gh-actions.py
  sentry_sdk/integrations/dramatiq.py
  tests/integrations/dramatiq/__init__.py
  tests/integrations/dramatiq/test_dramatiq.py
  tox.ini
Labels: New Integration

#2444 feat: Add ray integration support (#2400)
  .github/workflows/test-integrations-data-processing.yml
  scripts/split-tox-gh-actions/split-tox-gh-actions.py
  sentry_sdk/consts.py
  sentry_sdk/integrations/ray.py
  tests/integrations/ray/__init__.py
  tests/integrations/ray/test_ray.py
  tox.ini
Labels: New Integration, Do not merge, Trigger: tests using secrets

#3400 Explicitly export symbols in subpackages
  sentry_sdk/integrations/grpc/aio/__init__.py
  sentry_sdk/integrations/opentelemetry/__init__.py
Labels: Trigger: tests using secrets

#3443 feat: Add SENTRY_SPOTLIGHT env variable support
  sentry_sdk/client.py
  sentry_sdk/spotlight.py
  sentry_sdk/utils.py
  tests/test_client.py
  tests/test_utils.py
Labels: Trigger: tests using secrets

#3452 chore(tracing): Refactor `tracing_utils.py`
  sentry_sdk/tracing_utils.py
  sentry_sdk/utils.py
Labels: Trigger: tests using secrets
