Repository getsentry/sentry-python, pull requests merged in 2024-03, with the labels that each got.

#2776 Pin `grpcio` versions in CI
  sentry_sdk/integrations/grpc/__init__.py
  tests/integrations/grpc/test_grpc_aio.py
  tox.ini
Labels: Trigger: tests using secrets

#2643 feat(integrations): Add support for celery-redbeat cron tasks
  sentry_sdk/integrations/celery.py
  setup.py
  tests/integrations/celery/test_celery_beat_crons.py
Labels: Trigger: tests using secrets

#2854 ref(redis): Use new scopes API
  sentry_sdk/integrations/redis/__init__.py
  sentry_sdk/integrations/redis/asyncio.py
Labels: SDK 2.0

#2862 ref(integrations): Use new scopes API in pymongo, clickhouse integration
  sentry_sdk/integrations/clickhouse_driver.py
  sentry_sdk/integrations/pymongo.py
Labels: SDK 2.0

#2870 ref(quart): Use new scopes in Quart integration
  sentry_sdk/integrations/quart.py
Labels: SDK 2.0

#2868 ref(docs): Deprecate old hub API in migration guide
  MIGRATION_GUIDE.md
Labels: SDK 2.0

#2871 ref(falcon): Use new scopes API
  sentry_sdk/integrations/falcon.py
  tests/integrations/falcon/test_falcon.py
Labels: SDK 2.0

#2874 ref(asgi): Use new scopes API
  sentry_sdk/integrations/asgi.py
Labels: SDK 2.0

#2877 ref(starlette): Use new scopes API
  sentry_sdk/integrations/starlette.py
  tests/integrations/starlette/test_starlette.py
Labels: SDK 2.0

#2880 ref(huey): Use new scopes API
  sentry_sdk/integrations/huey.py
Labels: SDK 2.0

#2888 ref(spark): Use new scopes API
  sentry_sdk/integrations/spark/spark_driver.py
  sentry_sdk/integrations/spark/spark_worker.py
Labels: SDK 2.0

#2887 ref(pure-eval): Use new scopes API
  sentry_sdk/integrations/pure_eval.py
Labels: SDK 2.0

#2885 ref(trytond): Use new scopes API
  sentry_sdk/integrations/trytond.py
Labels: SDK 2.0

#2884 ref(gcp): Use new scopes API
  sentry_sdk/integrations/gcp.py
Labels: SDK 2.0

#2883 ref(chalice): Use new scopes API
  sentry_sdk/integrations/chalice.py
Labels: SDK 2.0

#2886 ref(grpc): Use new scopes API
  sentry_sdk/integrations/grpc/aio/client.py
  sentry_sdk/integrations/grpc/aio/server.py
  sentry_sdk/integrations/grpc/client.py
  sentry_sdk/integrations/grpc/server.py
  tests/integrations/grpc/test_grpc.py
Labels: SDK 2.0

#2878 ref(arq): Use new scopes API
  sentry_sdk/integrations/arq.py
  tests/integrations/arq/test_arq.py
Labels: SDK 2.0

#2876 ref(starlite): Use new scopes API
  sentry_sdk/integrations/starlite.py
Labels: SDK 2.0

#2879 ref(beam): Use new scopes API
  sentry_sdk/integrations/beam.py
Labels: SDK 2.0

#2912 fix(crons): Make `monitor` async friendly
  sentry_sdk/crons/_decorator.py
  sentry_sdk/crons/_decorator_py2.py
  sentry_sdk/crons/decorator.py
  tests/crons/__init__.py
  tests/crons/test_crons.py
  tests/crons/test_crons_async_py3.py
Labels: Feature: Crons

#2865 ref(otel): Use new scopes API
  sentry_sdk/integrations/opentelemetry/span_processor.py
  tests/integrations/opentelemetry/test_span_processor.py
Labels: SDK 2.0
