Repository getsentry/sentry-python, pull requests merged in 2024-01, with the labels that each got.

#2596 [2.0] Sync `sentry-sdk-2.0`
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/test-integrations-aws-lambda.yml
  .github/workflows/test-integrations-cloud-computing.yml
  .github/workflows/test-integrations-common.yml
  .github/workflows/test-integrations-data-processing.yml
  .github/workflows/test-integrations-databases.yml
  .github/workflows/test-integrations-graphql.yml
  .github/workflows/test-integrations-miscellaneous.yml
  .github/workflows/test-integrations-networking.yml
  .github/workflows/test-integrations-web-frameworks-1.yml
  .github/workflows/test-integrations-web-frameworks-2.yml
  CHANGELOG.md
  docs/conf.py
  linter-requirements.txt
  scripts/split-tox-gh-actions/templates/base.jinja
  sentry_sdk/_types.py
  sentry_sdk/client.py
  sentry_sdk/consts.py
  sentry_sdk/envelope.py
  sentry_sdk/integrations/aiohttp.py
  sentry_sdk/integrations/arq.py
  sentry_sdk/integrations/django/__init__.py
  setup.py
  tests/conftest.py
  tests/integrations/arq/test_arq.py
  tests/test_basics.py
  tests/tracing/test_decorator_async_py3.py
  tests/tracing/test_decorator_py3.py
  tests/tracing/test_decorator_sync.py
Labels: SDK 2.0

#2594 [2.0] Rename background worker thread
  MIGRATION_GUIDE.md
  sentry_sdk/worker.py
Labels: SDK 2.0

#2640 [2.0] Drop Python 2.7, 3.5 from CI (1)
  .github/workflows/test-integrations-aws-lambda.yml
  .github/workflows/test-integrations-cloud-computing.yml
  .github/workflows/test-integrations-common.yml
  .github/workflows/test-integrations-data-processing.yml
  .github/workflows/test-integrations-databases.yml
  .github/workflows/test-integrations-miscellaneous.yml
  .github/workflows/test-integrations-networking.yml
  .github/workflows/test-integrations-web-frameworks-1.yml
  .github/workflows/test-integrations-web-frameworks-2.yml
  MIGRATION_GUIDE.md
  scripts/split-tox-gh-actions/split-tox-gh-actions.py
  scripts/split-tox-gh-actions/templates/check_required.jinja
  scripts/split-tox-gh-actions/templates/test_group.jinja
  tox.ini
Labels: SDK 2.0

#2641 [2.0] Remove `# coding: utf-8`
  docs/conf.py
  sentry_sdk/integrations/django/__init__.py
  sentry_sdk/integrations/django/signals_handlers.py
  tests/integrations/logging/test_logging.py
  tests/test_client.py
  tests/test_metrics.py
  tests/test_transport.py
  tests/tracing/test_baggage.py
  tests/tracing/test_integration_tests.py
  tests/utils/test_general.py
Labels: SDK 2.0, Dropping Python<=3.5

#2650 Drop `exec` for Python 2 incompatible code
  tests/integrations/django/myapp/views.py
Labels: SDK 2.0, Dropping Python<=3.5

#2646 Remove `object` as superclass
  sentry_sdk/_lru_cache.py
  sentry_sdk/_queue.py
  sentry_sdk/attachments.py
  sentry_sdk/client.py
  sentry_sdk/consts.py
  sentry_sdk/envelope.py
  sentry_sdk/hub.py
  sentry_sdk/integrations/__init__.py
  sentry_sdk/integrations/_wsgi_common.py
  sentry_sdk/integrations/django/transactions.py
  sentry_sdk/integrations/falcon.py
  sentry_sdk/integrations/spark/spark_driver.py
  sentry_sdk/integrations/wsgi.py
  sentry_sdk/metrics.py
  sentry_sdk/monitor.py
  sentry_sdk/profiler.py
  sentry_sdk/scope.py
  sentry_sdk/scrubber.py
  sentry_sdk/serializer.py
  sentry_sdk/session.py
  sentry_sdk/sessions.py
  sentry_sdk/spotlight.py
  sentry_sdk/tracing.py
  sentry_sdk/tracing_utils.py
  sentry_sdk/transport.py
  sentry_sdk/utils.py
  sentry_sdk/worker.py
  tests/conftest.py
  tests/integrations/boto3/aws_mock.py
  tests/integrations/django/myapp/views.py
  tests/integrations/django/test_basic.py
  tests/integrations/flask/test_flask.py
  tests/integrations/pyramid/test_pyramid.py
  tests/integrations/wsgi/test_wsgi.py
  tests/test_client.py
  tests/test_conftest.py
Labels: SDK 2.0, Dropping Python<=3.5

#2648 Remove `_functools.py`
  MIGRATION_GUIDE.md
  sentry_sdk/_functools.py
  sentry_sdk/integrations/asgi.py
  sentry_sdk/integrations/beam.py
  sentry_sdk/integrations/boto3.py
  sentry_sdk/integrations/celery.py
  sentry_sdk/integrations/chalice.py
  sentry_sdk/integrations/django/asgi.py
  sentry_sdk/integrations/django/middleware.py
  sentry_sdk/integrations/django/signals_handlers.py
  sentry_sdk/integrations/django/templates.py
  sentry_sdk/integrations/django/views.py
  sentry_sdk/integrations/fastapi.py
  sentry_sdk/integrations/quart.py
  sentry_sdk/integrations/serverless.py
  sentry_sdk/integrations/wsgi.py
  sentry_sdk/scope.py
Labels: SDK 2.0, Dropping Python<=3.5

#2647 Remove obsolete `__future__` imports
  sentry_sdk/db/explain_plan/sqlalchemy.py
  sentry_sdk/integrations/__init__.py
  sentry_sdk/integrations/_wsgi_common.py
  sentry_sdk/integrations/argv.py
  sentry_sdk/integrations/arq.py
  sentry_sdk/integrations/asyncio.py
  sentry_sdk/integrations/atexit.py
  sentry_sdk/integrations/beam.py
  sentry_sdk/integrations/boto3.py
  sentry_sdk/integrations/bottle.py
  sentry_sdk/integrations/celery.py
  sentry_sdk/integrations/django/__init__.py
  sentry_sdk/integrations/django/signals_handlers.py
  sentry_sdk/integrations/django/transactions.py
  sentry_sdk/integrations/executing.py
  sentry_sdk/integrations/falcon.py
  sentry_sdk/integrations/flask.py
  sentry_sdk/integrations/huey.py
  sentry_sdk/integrations/logging.py
  sentry_sdk/integrations/loguru.py
  sentry_sdk/integrations/modules.py
  sentry_sdk/integrations/pure_eval.py
  sentry_sdk/integrations/pymongo.py
  sentry_sdk/integrations/pyramid.py
  sentry_sdk/integrations/quart.py
  sentry_sdk/integrations/redis/__init__.py
  sentry_sdk/integrations/redis/asyncio.py
  sentry_sdk/integrations/rq.py
  sentry_sdk/integrations/socket.py
  sentry_sdk/integrations/spark/spark_worker.py
  sentry_sdk/integrations/sqlalchemy.py
  sentry_sdk/integrations/starlette.py
  sentry_sdk/integrations/threading.py
  sentry_sdk/transport.py
  tests/integrations/django/myapp/custom_urls.py
  tests/integrations/django/myapp/urls.py
  tests/integrations/django/test_basic.py
  tests/integrations/django/test_db_query_data.py
  tests/integrations/django/test_transactions.py
  tests/integrations/falcon/test_falcon.py
  tests/integrations/grpc/test_grpc.py
  tests/integrations/grpc/test_grpc_aio.py
Labels: SDK 2.0, Dropping Python<=3.5

#2659 Drop old Python versions from setup.py
  setup.py
Labels: SDK 2.0, Dropping Python<=3.5

#2658 Remove sorting where order is now stable
  tests/integrations/django/test_basic.py
  tests/integrations/flask/test_flask.py
  tests/integrations/starlette/test_starlette.py
  tests/integrations/stdlib/test_httplib.py
  tests/test_api.py
  tests/test_utils.py
  tests/tracing/test_baggage.py
  tests/tracing/test_integration_tests.py
Labels: SDK 2.0, Dropping Python<=3.5

#2655 Consolidate `tracing_utils`
  MIGRATION_GUIDE.md
  sentry_sdk/api.py
  sentry_sdk/tracing.py
  sentry_sdk/tracing_utils.py
  sentry_sdk/tracing_utils_py2.py
  sentry_sdk/tracing_utils_py3.py
  tests/conftest.py
  tests/tracing/test_decorator.py
  tests/tracing/test_decorator_async_py3.py
  tests/tracing/test_decorator_sync.py
Labels: SDK 2.0, Dropping Python<=3.5

#2663 [2.0] Small (compatibility) fixes
  Makefile
  scripts/build_aws_lambda_layer.py
  scripts/init_serverless_sdk.py
  sentry_sdk/hub.py
  sentry_sdk/integrations/aws_lambda.py
  sentry_sdk/integrations/django/middleware.py
  sentry_sdk/integrations/stdlib.py
Labels: SDK 2.0, Dropping Python<=3.5

#2611 (0) Cleaning up existing code to prepare for new Scopes API
  docs/apidocs.rst
  sentry_sdk/api.py
  sentry_sdk/client.py
  sentry_sdk/hub.py
  sentry_sdk/scope.py
  sentry_sdk/utils.py
  tests/test_client.py
  tests/utils/test_contextvars.py
Labels: scope refactor

#2681 Verifying that merging master into sentry-sdk-2.0 was done correctly
  .pre-commit-config.yaml
  docs/apidocs.rst
  scripts/split-tox-gh-actions/split-tox-gh-actions.py
  sentry_sdk/api.py
  sentry_sdk/client.py
  sentry_sdk/hub.py
  sentry_sdk/integrations/arq.py
  sentry_sdk/integrations/django/middleware.py
  sentry_sdk/integrations/django/transactions.py
  sentry_sdk/integrations/huey.py
  sentry_sdk/integrations/opentelemetry/integration.py
  sentry_sdk/scope.py
  sentry_sdk/serializer.py
  sentry_sdk/tracing.py
  sentry_sdk/utils.py
  tests/integrations/asyncpg/test_asyncpg.py
  tests/integrations/aws_lambda/client.py
  tests/integrations/clickhouse_driver/test_clickhouse_driver.py
  tests/integrations/django/myapp/custom_urls.py
  tests/integrations/django/myapp/settings.py
  tests/integrations/django/myapp/urls.py
  tests/integrations/gcp/test_gcp.py
  tests/integrations/starlette/test_starlette.py
  tests/test_client.py
  tests/test_profiler.py
  tests/utils/test_contextvars.py
Labels: do not merge

#2671 Auto-enable more integrations
  MIGRATION_GUIDE.md
  sentry_sdk/integrations/__init__.py
  sentry_sdk/integrations/asyncpg.py
  sentry_sdk/integrations/chalice.py
  sentry_sdk/integrations/starlite.py
  sentry_sdk/integrations/strawberry.py
Labels: SDK 2.0

#2666 Remove deprecated code
  MIGRATION_GUIDE.md
  sentry_sdk/client.py
  sentry_sdk/integrations/__init__.py
  sentry_sdk/tracing.py
  tests/test_client.py
Labels: SDK 2.0

#2692 Merge master to sentry-sdk-2.0
  CHANGELOG.md
  docs/conf.py
  sentry_sdk/client.py
  sentry_sdk/consts.py
  sentry_sdk/integrations/gcp.py
  sentry_sdk/metrics.py
  sentry_sdk/tracing_utils.py
  sentry_sdk/utils.py
  setup.py
  tests/integrations/asyncpg/test_asyncpg.py
  tests/integrations/django/test_db_query_data.py
  tests/integrations/sqlalchemy/test_sqlalchemy.py
  tests/test_metrics.py
  tests/test_profiler.py
  tests/test_utils.py
  tests/utils/test_general.py
Labels: do not merge
