Repository getsentry/sentry-python, pull requests merged in 2024-07, with the labels that each got.

#2968 fix(opentelemetry): avoid propagation of empty baggage
  sentry_sdk/integrations/opentelemetry/propagator.py
  tests/integrations/opentelemetry/test_propagator.py
Labels: Integration: OpenTelementry (OTel), Trigger: tests using secrets

#3237 build: Remove `ipdb` from test requirements
  requirements-testing.txt
Labels: Trigger: tests using secrets

#3258 Add the client cert and key support to HttpTransport
  sentry_sdk/consts.py
  sentry_sdk/transport.py
  tests/test_transport.py
Labels: Trigger: tests using secrets

#2622 fix(wsgi): WSGI integrations respect SCRIPT_NAME env variable
  sentry_sdk/integrations/wsgi.py
  tests/integrations/wsgi/test_wsgi.py
Labels: Integration: WSGI, Trigger: tests using secrets

#3240 ref(tests): Unhardcode integration list
  tests/new_scopes_compat/test_new_scopes_compat_event.py
Labels: Trigger: tests using secrets

#3200 feat: Preliminary support for Python 3.13
  .github/workflows/test-integrations-ai.yml
  .github/workflows/test-integrations-aws-lambda.yml
  .github/workflows/test-integrations-cloud-computing.yml
  .github/workflows/test-integrations-common.yml
  .github/workflows/test-integrations-data-processing.yml
  .github/workflows/test-integrations-databases.yml
  .github/workflows/test-integrations-graphql.yml
  .github/workflows/test-integrations-miscellaneous.yml
  .github/workflows/test-integrations-networking.yml
  .github/workflows/test-integrations-web-frameworks-1.yml
  .github/workflows/test-integrations-web-frameworks-2.yml
  scripts/split-tox-gh-actions/templates/test_group.jinja
  sentry_sdk/utils.py
  tests/test_client.py
  tox.ini
Labels: Python:3.13

#3281 test: Allow passing of PostgreSQL port
  tests/integrations/asyncpg/test_asyncpg.py
  tests/integrations/django/myapp/settings.py
  tests/integrations/django/test_basic.py
Labels: Trigger: tests using secrets

#3278 fix(integrations): KeyError('sentry-monitor-start-timestamp-s')
  sentry_sdk/integrations/celery/beat.py
Labels: Trigger: tests using secrets

#2788 feat(graphene): Add span for grapqhl operation
  sentry_sdk/integrations/graphene.py
  tests/integrations/graphene/test_graphene.py
Labels: Trigger: tests using secrets, Integration: Graphene

#3341 [1.x] Fix tests
  .github/workflows/test-integrations-aws-lambda.yml
  .github/workflows/test-integrations-cloud-computing.yml
  .github/workflows/test-integrations-common.yml
  .github/workflows/test-integrations-data-processing.yml
  .github/workflows/test-integrations-databases.yml
  .github/workflows/test-integrations-graphql.yml
  .github/workflows/test-integrations-miscellaneous.yml
  .github/workflows/test-integrations-networking.yml
  .github/workflows/test-integrations-web-frameworks-1.yml
  .github/workflows/test-integrations-web-frameworks-2.yml
  scripts/split-tox-gh-actions/templates/test_group.jinja
  tests/integrations/aiohttp/test_aiohttp.py
  tests/integrations/aws_lambda/test_aws.py
  tests/integrations/celery/test_celery.py
  tests/integrations/stdlib/test_subprocess.py
  tests/integrations/trytond/test_trytond.py
  tests/test_utils.py
  tox.ini
Labels: 1.x

#3376 feat(integrations): add async support for `ai_track` decorator #3373
  sentry_sdk/ai/monitoring.py
  tests/test_ai_monitoring.py
Labels: Trigger: tests using secrets
