Repository getsentry/sentry-python, pull requests merged in 2024-09, with the labels that each got.

#2466 suggestion for fix for issue #2461
  sentry_sdk/integrations/django/middleware.py
Labels: Integration: Django

#2377 Add wrapper for `Celery().send_task` to support behavior as `Task.apply_async`
  sentry_sdk/integrations/celery/__init__.py
  tests/integrations/celery/test_celery.py
  tox.ini
Labels: Integration: Celery

#3501 Potel Sampling
  sentry_sdk/integrations/opentelemetry/consts.py
  sentry_sdk/integrations/opentelemetry/integration.py
  sentry_sdk/integrations/opentelemetry/sampler.py
  sentry_sdk/integrations/opentelemetry/scope.py
  tests/integrations/opentelemetry/test_sampler.py
Labels: Project: POTel (Phase 1)

#3507 Update Codecov config
  .github/workflows/test-integrations-ai.yml
  .github/workflows/test-integrations-aws-lambda.yml
  .github/workflows/test-integrations-cloud-computing.yml
  .github/workflows/test-integrations-common.yml
  .github/workflows/test-integrations-data-processing.yml
  .github/workflows/test-integrations-databases.yml
  .github/workflows/test-integrations-graphql.yml
  .github/workflows/test-integrations-miscellaneous.yml
  .github/workflows/test-integrations-networking.yml
  .github/workflows/test-integrations-web-frameworks-1.yml
  .github/workflows/test-integrations-web-frameworks-2.yml
  scripts/split-tox-gh-actions/templates/test_group.jinja
Labels: Do not merge

#3534 Removed experimental explain_plan feature.
  sentry_sdk/consts.py
  sentry_sdk/db/__init__.py
  sentry_sdk/db/explain_plan/__init__.py
  sentry_sdk/db/explain_plan/django.py
  sentry_sdk/db/explain_plan/sqlalchemy.py
  sentry_sdk/integrations/django/__init__.py
  sentry_sdk/integrations/sqlalchemy.py
Labels: Component: SDK Core

#3549 tests: Fix cohere API change
  sentry_sdk/integrations/cohere.py
Labels: Trigger: tests using secrets

#3546 fix: Fix breadcrumb timestamp casting and its tests
  sentry_sdk/scope.py
  sentry_sdk/utils.py
  tests/test_basics.py
  tests/test_utils.py
Labels: Trigger: tests using secrets

#3578 Test more integrations on 3.13
  .github/workflows/test-integrations-ai.yml
  .github/workflows/test-integrations-cloud-computing.yml
  .github/workflows/test-integrations-data-processing.yml
  .github/workflows/test-integrations-databases.yml
  .github/workflows/test-integrations-graphql.yml
  .github/workflows/test-integrations-miscellaneous.yml
  .github/workflows/test-integrations-networking.yml
  .github/workflows/test-integrations-web-frameworks-1.yml
  .github/workflows/test-integrations-web-frameworks-2.yml
  tox.ini
Labels: Python:3.13
