Repository getsentry/sentry-python, pull requests merged in 2025-02, with the labels that each got.

#4022 feat(flags): add Statsig integration
  .github/workflows/test-integrations-flags.yml
  requirements-linting.txt
  scripts/populate_tox/populate_tox.py
  scripts/split_tox_gh_actions/split_tox_gh_actions.py
  sentry_sdk/integrations/__init__.py
  sentry_sdk/integrations/statsig.py
  sentry_sdk/integrations/unleash.py
  setup.py
  tests/integrations/statsig/__init__.py
  tests/integrations/statsig/test_statsig.py
  tox.ini
Labels: New Integration

#4080 fix(scopes): Add more typing info to Scope.update_from_kwargs's "contexts"
  sentry_sdk/scope.py
Labels: Trigger: tests using secrets

#3943 Fix error logging during AWS init
  sentry_sdk/integrations/aws_lambda.py
  tests/integrations/aws_lambda/test_aws.py
Labels: Trigger: tests using secrets

#3674 fix(anthropic): Add partial json support to streams
  sentry_sdk/integrations/anthropic.py
  tests/integrations/anthropic/test_anthropic.py
Labels: Trigger: tests using secrets

#3889 ref(tracing): Move `TRANSACTION_SOURCE_*` constants to `Enum`
  CHANGELOG.md
  sentry_sdk/integrations/aiohttp.py
  sentry_sdk/integrations/arq.py
  sentry_sdk/integrations/asgi.py
  sentry_sdk/integrations/aws_lambda.py
  sentry_sdk/integrations/celery/__init__.py
  sentry_sdk/integrations/chalice.py
  sentry_sdk/integrations/django/__init__.py
  sentry_sdk/integrations/fastapi.py
  sentry_sdk/integrations/gcp.py
  sentry_sdk/integrations/grpc/aio/server.py
  sentry_sdk/integrations/grpc/server.py
  sentry_sdk/integrations/huey.py
  sentry_sdk/integrations/litestar.py
  sentry_sdk/integrations/ray.py
  sentry_sdk/integrations/rq.py
  sentry_sdk/integrations/sanic.py
  sentry_sdk/integrations/starlette.py
  sentry_sdk/integrations/starlite.py
  sentry_sdk/integrations/strawberry.py
  sentry_sdk/integrations/tornado.py
  sentry_sdk/integrations/wsgi.py
  sentry_sdk/metrics.py
  sentry_sdk/tracing.py
  tests/integrations/asgi/test_asgi.py
  tests/integrations/sanic/test_sanic.py
  tests/test_metrics.py
Labels: Trigger: tests using secrets

#4104 Fix breadcrumb level for HTTP client breadcrumbs in POTel
  sentry_sdk/integrations/httpx.py
Labels: Project: POTel
